@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.mainTitle {
  font-size: 32px;
}

.navLinks {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr 1fr;
  align-items: center;
  text-decoration: none;
  font-family: 'Londrina Solid', cursive;
  background-color: lightgray;
  color: black;
  padding: 0;
  margin: 0;
  font-weight: bold;
  cursor: pointer;
}

.smallNavLinks {
  color: black;
  text-decoration:none;
}

.smallNavLinks:hover {
  color: white;
}

.mainMenu {
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  align-content: center;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  height: 100vh;
  margin: 0;
  padding: 50px;
  background-color: rgb(192, 227, 246);
  font-size: 48px;
}

.menuList a {
  text-decoration: none;
  font-size: 30px;
  font-family: 'Londrina Solid';
  color: black;
  border: 2px solid black;
  padding: 25px 40px;
}

.menuList a:hover {
  color: white;
}

.landing{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Londrina Solid';
  color: black;
  padding: 150px;
  font-size: 48px;
  height: 100vh;
  background-color: rgb(192, 227, 246);
}

.item-cost{
  font-family: 'Londrina Solid';
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  margin: 0px 200px;
}

.item-description{
  font-family: 'Londrina Solid';
  margin: 0px 200px;
  padding: 0;
}

.category-page{
  background-color: rgb(192, 227, 246);
  height: 100vh;
}

.price, .description{
  display: inline;
}
.delete {
  border: solid black;
  border-radius: 10%;
  display: block;
  margin: auto;
  width: 30px;
  background-color: aliceblue;
}
.Items {
  text-align: center;
  font-family: 'Londrina Solid';
  background-color: rgb(192, 227, 246);
  margin: -22px;
}
.form{
  width: 100px;
  margin: auto;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}
textarea{
  height: 40px;
  width: 200px;
  margin-top: 10px;
}
input[type=text] {
  margin-top: 10px;
}
.item{
  margin-top: 20px;
}
button{
  margin-top: 20px;
  height: 20px;
  width: 100px;
  background-color: grey;
  margin-bottom: 10px;
  font-family: 'Londrina Solid';
}

.waterpark-gif{
  height: 200px;
  width: 300px;
  margin: auto;
}

.landing-menu a{
text-decoration: none;
color: black;
}

.landing-menu a:hover {
  color: white;
}