.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.mainMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  padding: 15px 20px;
  margin: 5px;
}

.menuList {
  text-decoration: none;
  font-size: 32px;
}

.landing{
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid black;
  background-color: rgb(170, 170, 244);
  font-size: 30px;
  font-weight: bold;
  /* background-image: url("https://cdn-cloudfront.cfauthx.com/binaries/content/gallery/vf-en-us/blogs/v2/5.22.18-tips-and-tricks.png");
  background-size: "cover";
  background-repeat: no-repeat;
  height: 100%; */
}
